ENV_PASSWORD=
ENV_SERVER_IP=
ENV_SERVER_PORT=
ENV_MYSQL_ROOT_PASSWORD=
ENV_SECRET_KEY=H1;,[ba}r)lsZ}reH.q;i~ccgndhu@0gRH a^3b&])'3~4]O~z
ENV_EMAIL_HOST=smtp.gmail.com
ENV_EMAIL_HOST_USER=
ENV_EMAIL_HOST_PASSWORD=
ENV_EMAIL_PORT=587
