{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
    <div class="login-wrapper">
        <h2>{% trans 'Iniciar sesión'%}</h2>
        <br>
        <form class="form-horizontal" method="post" novalidate>
            {% csrf_token %}
            {% if form.non_field_errors %}
            <div class="bg-danger">
                {% for error in form.non_field_errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}

            {% for field in form.visible_fields %}

            {% if form.is_bound %}
            {% if field.errors or form.non_field_errors%}
            <div class="form-group has-error has-feedback">
                <div class="col-sm-2">
                    {{ field.label_tag }}
                </div>
                <div class="col-sm-10">
                    {% render_field field class="form-control" %}
                    <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
                    {% for error in field.errors %}
                    <div class="bg-danger"> <!-- text-danger -->
                        {{ error }}
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <div class="form-group has-success has-feedback">
                    <div class="col-sm-2">
                        {{ field.label_tag }}
                    </div>
                    <div class="col-sm-10">
                        {% render_field field class="form-control" %}
                        <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                    </div>
                    {% endif %}
                    {% else %}
                    <div class="form-group">
                        <div class="col-sm-2">
                            {{ field.label_tag }}
                        </div>
                        <div class="col-sm-10">
                            {% render_field field class="form-control" %}
                        </div>
                        {% endif %}

                        {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                    </div>
                    <br>
                    {% endfor %}
                    <div class="bg-info" role="alert">
                        {% trans '¿No tiene una cuenta?'%} <a href="{%url 'register'%}"class="alert-link">Regístrese</a>
                    </div>
                    <br>
                    <div class="bg-danger" role="alert">
                        {% trans '¿Ha olvidado su contraseña?'%} <a href="{%url 'password_reset'%}"class="alert-link">Recupérela</a>
                    </div>
                    <br>
            <button class="btn btn-default" type="submit">{% trans 'Siguiente'%}</button>
        </form>
    </div>
{% endblock %}
